/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#wrapper {
width: 900px;
margin-right: 50px;
margin-left:  50px;
margin-top:   10px;

}

#banner  {

background: url(../images/banner.jpg) ;
border-radius: 20px;
display: block;
height: 404px;
width: 800px;

}
#banner span {


}

#mainNav {
	
margin-top: -20;

overflow: hidden;

}

#mainNav ul {
	
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;

	padding-top: 6px;
	padding-bottom: 5px;
	overflow: hidden;
	}
#mainNav li {
	display: inline;
	float: right;
	
	margin-top: 328px;
}

#mainNav a {
 font-weight: bold;
	display: block;
	border: 1px solid #000;
border-radius: 10px;

padding: 5px 15px 5px 15px;
margin-right: 5px;
background-color: #EAEAEA;
text-decoration: none;
color: #333;
	}
#mainNav a:link {  }
#mainNav a:visited {  }
#mainNav a:hover {  color:#FFFFFF; }
#mainNav a:active { color:#333333;}

#mainNav a:hover { background-color:#0241a8; }

#mainNav span {
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
}

#legal {
	clear: both;
	
	padding: 5px 5px 20px 160px;
	border-top: 1px dashed #999999;
	font-weight: bold;
	color: #666666;
	
}

#webContent {
width: 772px;

background-color: #EAEAEA;
margin-top: 20px;
font-family: Comic Sans, Comic Sans MS, cursive;
font-weight: 400;
padding: 20px;
border : 1px solid #999999;
border-radius: 15px;

}

#webContent h1 {

	 color:#0241a8;
 
	border-bottom: 2px solid #B2F511;
	
	   font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
     
	border-bottom: 1px solid #002D4B;
	margin-top: 25px;
	
	 
	letter-spacing: 1px;
	word-spacing: 5px;
	background: url(images/feature_bug.png) no-repeat top right;

}
#webContent h2{
color:#0241a8;
}

#about_me_info {

width: 560px;
 

}

#tableSkills th{
   text-align: left;
   
}

#tableSkills td {

padding-bottom: 23px;


vertical-align:text-top;
}

a.mail {
	color: #6378df
}

.photo {
	border: 1px solid #666;
	background-color: #FFF;
	padding: 4px; 
position: relative; 
  top: -5px; 
  left:-5px;

}

#Date {

	 
	display: block;
	  
	color: #FFFFFF;
	 
	font-size: 15px;
	line-height: 24px;
	letter-spacing: -1px;
	font-weight: bold;
position: relative;
left: 328px;
top: 330px;
	
}

.project_name {

font-weight:bold;
background: url(../images/blue_star.png) no-repeat ;
padding-left: 40px;
padding-top: 15px;

 
}

iframe {
	 display: block;
}

 
